In [3]:
import pandas as pd
my_web = {'day':
          ['sun','mon','Tue','Wed','Thu','Fri'], 
          'visitors': [1000,2000,3000,1000,1520,624], 
          'Bounce_Rate':[20,21,20,15,14,45]}
df1 = pd.DataFrame(my_web)
print(df1)

   day  visitors  Bounce_Rate
0  sun      1000           20
1  mon      2000           21
2  Tue      3000           20
3  Wed      1000           15
4  Thu      1520           14
5  Fri       624           45

In [31]:
df1.head(2)

   day  visitors  Bounce_Rate
0  sun      1000           20
1  mon      2000           21

In [6]:
df1.tail(2)

   day  visitors  Bounce_Rate
4  Thu      1520           14
5  Fri       624           45

In [12]:
my_webb = {'day':
          ['sun','mon','Tue','Wed','Thu','Fri'], 
          'visitors': [1000,2000,3000,1000,1520,624], 
          'Bounce_Rate':[2,2,0,5,4,4]}
df2 = pd.DataFrame(my_webb)

In [13]:
print(df2)

   day  visitors  Bounce_Rate
0  sun      1000            2
1  mon      2000            2
2  Tue      3000            0
3  Wed      1000            5
4  Thu      1520            4
5  Fri       624            4

In [29]:
merge = pd.merge(df1,df2, on = "day")

In [30]:
print(merge)

   day  visitors_x  Bounce_Rate_x  visitors_y  Bounce_Rate_y
0  sun        1000             20        1000              2
1  mon        2000             21        2000              2
2  Tue        3000             20        3000              0
3  Wed        1000             15        1000              5
4  Thu        1520             14        1520              4
5  Fri         624             45         624              4